<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testSce.SwitchingWin"/>
      <class name="testSce.LetsCodeIt"/>
      <class name="testSce.MouseHover"/>
      <class name="testSce.DynDataHand"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
